* {
    font-family: 'Poppins', sans-serif;
}

.cabecalho {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
}

header {
    background-color: white;
    padding: 20px 0;
    border-bottom: 1px solid #006400;
}

.sigla {
    color: #0a3b0a;
}

.sigla h2 {
    font-weight: normal;
    font-size: 22px;
}

.menu {
    width: 80%;
    text-align: right;
}

.menu a {
    color: #808080;
    font-size: 14px;
    text-decoration: none;
    margin-right: 15px;
    transition: 0.5s;
}

.menu a:hover {
    color: #006400;
}

.config img {
    width: 20px;
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 425px) {}